<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="row">
    <div class="large-12 large-centered columns">

      <header class="masthead">
        <h1>Hi, I'm Onuralp Taner</h1>
      </header>

    </div>
  </div>

  <div class="row">

    <div class="large-8 large-left columns">

      <div class="content-section">
        <p>
          TL;DR: I help teams to build and deploy cloud-native applications.
        </p>
        <p>
          I've been working on cloud computing and distributed systems since 2010. I've worked on a variety of projects, from small startups to giant ( +$1B ) enterprise companies as a Chief Architect.
        </p>
        <p>
          I have a big passion for cloud computing and distributed systems. In love with Kubernetes, AWS, GCP, serverless, and anything DevOps related. I've been working fully remote since 2018 and living in Cambridge, UK.
        </p>
      </div>

      <main>
        <div class="content-section">
          <h2>Projects</h2>
          {% assign projects = site.posts | where: "type", "project" %} {% for project in projects %}
          <div class="project-post">
            <h3><a href="{{ project.git }}">{{ project.title }}</a></h3>
            {{ project.content }}
          </div>
          {% endfor %}
        </div>
        <div class="content-section">
          <h2>Talks</h2>
          <p>I love sharing my experiences on software engineering at conferences, meetups, universities and companies.</p>
          {% assign talks = site.posts | where: "type", "talk" %} {% for talk in talks %}
          <div class="talk-post">
            <p>* {{ talk.title }}</p>
          </div>
          {% endfor %}
        </div>
      </main>

      <footer>
        <h2>Contact Me</h2>

        <p>
          Follow me on <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>. I’m also on <a href="https://github.com/{{ site.github }}">Github</a>          and <a href="https://www.linkedin.com/in/onuralptaner/">Linkedin</a>. Feel free to contact.
        </p>

        <p class="copyright">
          &copy;
          <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
        <!--<li><a href="https://blog.onuralptaner.com/"><i class="fa fa-medium"></i></a></li>-->
        <li><a href="https://www.linkedin.com/in/onuralptaner/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>

  </div>

  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');

  </script>
  {% endif %}

</body>

</html>
