<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div class="row">
    <div class="large-12 large-centered columns">

      <header class="masthead">
        <img src="{{ site.baseurl }}/public/profile.jpg" alt="Onuralp Taner">
      </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
          Hello, there. I'm Onuralp Taner a software architect at <a href="https://www.ciceksepeti.com">CicekSepeti.com</a> living in Istanbul.
        </p>
        <p>
          At CicekSepeti, I'm part of a team which works on migrating complex monolith applications to microservices (developed
          using Golang and .Net Core). By using golang we had the chance to work and develop with Kubernetes, which lowered
          our resource use significantly.
        </p>
        <p>
          Before this, I provided solutions on ElasticSearch, caching and scalability on high traffic websites, which led to massive budget gains from aws, which
          also led gains eventually from azure.
        </p>

      </div>

      <main>
        <div class="content-section">
          <h2>Projects</h2>
          {% assign projects = site.posts | where: "type", "project" %} {% for project in projects %}
          <div class="project-post">
            <h3><a href="{{ project.git }}">{{ project.title }}</a></h3>
            {{ project.content }}
          </div>
          {% endfor %}
        </div>
        <div class="content-section">
          <h2>Talks</h2>
          <p>I love sharing my experiences on software engineering at conferences, meetups, universities and companies.</p>
          {% assign talks = site.posts | where: "type", "talk" %} {% for talk in talks %}
          <div class="talk-post">
            <p>* {{ talk.title }}</p>
          </div>
          {% endfor %}
        </div>
      </main>

      <footer>
        <h2>Contact Me</h2>

        <p>
          Follow me on <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>. I’m also on <a href="https://github.com/{{ site.github }}">Github</a>          and <a href="https://www.linkedin.com/in/onuralptaner/">Linkedin</a>. Feel free to contact.
        </p>

        <p class="copyright">
          &copy;
          <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
        <!--<li><a href="https://blog.onuralptaner.com/"><i class="fa fa-medium"></i></a></li>-->
        <li><a href="https://www.linkedin.com/in/onuralptaner/"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>

  </div>

  {% if site.google_analytics %}
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');

  </script>
  {% endif %}

</body>

</html>
